/TournamentProj/bin/Debug/net5.0/TournamentProj.dll
/.idea/.idea.TournamentProj/.idea/.name
/TournamentProj/bin/Debug/net5.0/Microsoft.AspNetCore.JsonPatch.dll
/TournamentProj/bin/Debug/net5.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
/TournamentProj/bin/Debug/net5.0/Newtonsoft.Json.Bson.dll
/TournamentProj/bin/Debug/net5.0/Newtonsoft.Json.dll
/.idea/.idea.TournamentProj/.idea/vcs.xml
