# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.TournamentProj.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\peter\RiderProjects\TournamentProj\.idea\.idea.TournamentProj\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
